<div id="app">
  <div class="row">
      <div class="col-xs-12">
        <a href="#" [routerLink]="['/']">Get Comments</a>
        <a href="#" [routerLink]="['/create-comment']">Create a Comment</a>
        <a href="#" [routerLink]="['/signup']">Signup</a>
        <a href="#" [routerLink]="[ '/signin']">SignIn</a>
      </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>